$color-text: black;
$color-border-line:black;
body{    
    padding:0;
    margin:0;
    min-height: 100vh;
    box-sizing: border-box;
    background:url("../img/bgd.jpg") no-repeat center center fixed;
    /*background-position: center center;
    background-attachment: fixed;*/
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Ajustar la altura para centrar verticalmente */
    min-width:425px; 
    .content {
        //background-color: gray;
        width: 50%;
        text-align: center; /* Centrar contenido horizontalmente */
        .configuration {
            //background-color: aqua;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            #configuration-values{
                color:$color-text;
                margin-bottom: 10px;
                p{
                    font-weight: bold;
                    font-size: 20px;
                }
                input{
                    text-align: center;
                    width: 30%;
                    background: none;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $color-border-line;
                    color:$color-text;
                    font-size: 20px;
                }
            }
        }

        .timer{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            //background-color: red;
            .display{
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin: 20px 0;
                //background-color: blue;
                border: 3px solid $color-border-line;
                .time{
                    justify-content: center;
                    display:flex;
                    font-size: 60px;
                    color: $color-text;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;

                }
            }
            .controls{
                margin-bottom:15px;
                i{
                    cursor: pointer;
                    font-size: 30px;
                    margin:0 10px;
                    color:$color-text;
                }
            }
        }

        .footer{
            margin-top:100px;
            p{
                font-weight: bold;
                color:$color-text;
            }
        }
    }    

}


